.box__container {
  width: 150px;
  border-radius: 10px;
  height: 100px;
  cursor: grab;
  position: absolute;
  border: 1.5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}